#mytext {
	position: absolute;
	top: 65px;
	left: 625px;
	font-family: Courier, monospace;
	color: black;
}

#myimage {
	position: absolute;
	top: 30px;
	left: 200px;
	width: 1200px;
	height:800px;
}

#navbar {
	position: absolute;
	top: 125px;
	left: 220px;
    list-style-type: none;
    margin: 0;
    padding: 0;
	width: 200px;
}

#navbar li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
	text-align: center;
	font-family: Courier, monospace;
	font-weight: bold;
}

#navbar li a:hover {
	text-shadow: 1px 1px 20px black;
}

@keyframes cursorblink {
	from {opacity: 1;}
	to   {opacity: 0;}
}

#cursor {
	position: relative;
}

#cursor i {
	position: absolute;
	top: 270px;
	left: 620px;
	width: 8px;
	height: 17px;
	background-color: black;
	animation-name: cursorblink;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	opacity: 1;
}
